@import '~vuetify/src/styles/settings/_variables.scss';
@import "./variables";
@import "./mixins";
@import "./typography";

html,
body,
.v-application {
  .headline,
  .title,
  [class*='text-'] {
    font-family: $body-font-family, sans-serif !important;
  }
  font-family: $body-font-family, sans-serif !important;

  .v-toolbar__content,
  .v-toolbar__extension {
    justify-content: space-around !important;
  }
}
