// =============================================================================
// Calculate Rem by px
// =============================================================================

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-style($color, $fontSize, $fontWeight, $lineHeight, $letterSpacing: none){
  color: $color !important;
  font-size: calculateRem($fontSize) !important;
  font-weight: $fontWeight  !important;
  line-height: $lineHeight !important;
  @if $letterSpacing != false {
    letter-spacing: $letterSpacing !important;
  }
}

// =============================================================================
// Get theme color definition
// =============================================================================
@function color($value) {
  @if map-has-key($theme-colors, $value) {
    @return map-get($theme-colors, $value);
  }
  @return $defaultColor; //if it's not  declared color then return the default color
}
