@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap');

// All variable changes need to happen before @import
$body-font-family: 'Tajawal', sans-serif;
$heading-font-family: $body-font-family;
$defaultColor: #01FFF7;

// Setup theme colors
$theme-colors: (
        'primary': #1463b0,
        'accent': #A5ABBD,
        'secondary': #5f5e5d,
        'success': #00B697,
        'info': #008CCB,
        'warning': #D8A31A,
        'error': #B63120,
        'white': #E6F4F1,
        'tertiary': #434343
);

$primary: map-get($theme-colors, 'primary');
$accent: map-get($theme-colors, 'accent');
$secondary: map-get($theme-colors, 'secondary');
$success: map-get($theme-colors, 'success');
$info: map-get($theme-colors, 'info');
$warning: map-get($theme-colors, 'warning');
$error: map-get($theme-colors, 'error');
$white: map-get($theme-colors, 'white');
$tertiary: map-get($theme-colors, 'tertiary');

:export {
  @each $key, $value in $theme-colors {
    #{unquote($key)}: $value;
  }
}
